<a href="https://colab.research.google.com/github/AlexsonT/Growdev/blob/main/Ex_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# As questões a seguir utilizam como base o dataset de venda de jogos eletrônicos disponível no seguinte link.

# Os campos são:
# Rank: posição no ranking de vendas
# Name: nome do jogo
# Platform: plataforma/console
# Year: ano de lançamento
# Genre: gênero
# Publisher: empresa que publicou o jogo
# NA_Sales: vendas na américa do norte (em milhões de dólares)
# EU_Sales: vendas na europa (em milhões de dólares)
# JP_Sales: vendas no japão (em milhões de dólares)
# Other_Sales: outras vendas (em milhões de dólares)
# Global_Sales: vendas globais (em milhões de dólares)


# 6) Qual foi o ano com mais lançamentos de jogos?
# 7) Qual a plataforma que menos lançou jogos?
# 8) Qual plataforma que mais gerou lucros com jogos do gênero Action desde 2009?
# 9) Qual empresa teve o maior lucro (sob o teto de 0.35 milhões) de 1980 até 1995, excluindo-se a plataforma SNES.
# 10)A empresa que mais lucrou no Japão em 2003 é a mesma que mais lucrou na europa nesse mesmo ano?
# 11)Qual o percentual relacionado às vendas globais de jogos de Wii (excluindo-se América do norte, japão e europa) de 2006 até 2010?
# 12)Mostre um gráfico de linhas com as vendas em diferentes plataformas ao longo dos anos.
# 13)Mostre um gráfico de pizza com o percentual de vendas dos diferentes gêneros de jogos.

In [3]:
#IMPORTS
import pandas as pd
import numpy as np

In [56]:
#READING THE DATASET
data = pd.read_csv('vgsales.csv', encoding = 'UTF-8', sep = ',', header = 0)

data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,259,Asteroids,2600,1980,Shooter,Atari,4.00,0.26,0.0,0.05,4.31
1,545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.0,0.03,2.76
2,1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0.0,0.01,1.15
3,1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.0,0.01,1.05
4,2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.0,0.01,0.77

In [62]:
# 1) Qual foi o jogo mais vendido no mundo em 2010?

# info = data['Year'].value_counts()

# display(info)

print(data.explode('Year').value_counts())

Rank   Name                                        Platform  Year  Genre     Publisher                     NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
1      Wii Sports                                  Wii       2006  Sports    Nintendo                      41.49     29.02     3.77      8.46         82.74           1
11060  Porsche Challenge                           PS        1997  Racing    Sony Computer Entertainment   0.05      0.03      0.00      0.01         0.09            1
11047  V-Rally Edition 99                          N64       1998  Racing    Infogrames                    0.07      0.02      0.00      0.00         0.09            1
11048  Saikyou Habu Shogi                          N64       1996  Misc      Seta Corporation              0.00      0.00      0.06      0.03         0.09            1
11049  Castlevania Dracula X                       SNES      1995  Platform  Konami Digital Entertainment  0.03      0.01      0.05      0.00         0.09            1
                                                                                                                                                                     ..
5521   Phineas and Ferb: Across the 2nd Dimension  PS3       2011  Action    Disney Interactive Studios    0.15      0.12      0.00      0.05         0.33            1
5522   Call Of Duty 2: Big Red One                 GC        2005  Shooter   Activision                    0.25      0.07      0.00      0.01         0.33            1
5523   Elebits                                     Wii       2006  Action    Konami Digital Entertainment  0.22      0.01      0.08      0.02         0.33            1
5524   Warhammer 40,000: Squad Command             PSP       2007  Strategy  THQ                           0.11      0.14      0.00      0.08         0.33            1
16600  Spirits & Spells                            GBA       2003  Platform  Wanadoo                       0.01      0.00      0.00      0.00         0.01            1
Length: 16288, dtype: int64

In [49]:
# 2) Qual foi o gênero mais vendido na américa do norte em 2005

In [50]:
# 3) Qual foi a empresa que mais vendeu de 2005 até 2016

In [51]:
# 4) Qual o nome do jogo que menos foi vendido em 2008 do gênero Sports.

In [ ]:
# 5) Mostre um gráfico com o total de vendas por ano.