<a href="https://colab.research.google.com/github/AlexsonT/Growdev/blob/main/Ex_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# As questões a seguir utilizam como base o dataset de venda de jogos eletrônicos disponível no seguinte link.

# Os campos são:
# Rank: posição no ranking de vendas
# Name: nome do jogo
# Platform: plataforma/console
# Year: ano de lançamento
# Genre: gênero
# Publisher: empresa que publicou o jogo
# NA_Sales: vendas na américa do norte (em milhões de dólares)
# EU_Sales: vendas na europa (em milhões de dólares)
# JP_Sales: vendas no japão (em milhões de dólares)
# Other_Sales: outras vendas (em milhões de dólares)
# Global_Sales: vendas globais (em milhões de dólares)


# 6) Qual foi o ano com mais lançamentos de jogos?
# 7) Qual a plataforma que menos lançou jogos?
# 8) Qual plataforma que mais gerou lucros com jogos do gênero Action desde 2009?
# 9) Qual empresa teve o maior lucro (sob o teto de 0.35 milhões) de 1980 até 1995, excluindo-se a plataforma SNES.
# 10)A empresa que mais lucrou no Japão em 2003 é a mesma que mais lucrou na europa nesse mesmo ano?
# 11)Qual o percentual relacionado às vendas globais de jogos de Wii (excluindo-se América do norte, japão e europa) de 2006 até 2010?
# 12)Mostre um gráfico de linhas com as vendas em diferentes plataformas ao longo dos anos.
# 13)Mostre um gráfico de pizza com o percentual de vendas dos diferentes gêneros de jogos.

In [51]:
#IMPORTS
import pandas as pd
import numpy as np

In [58]:
#READING THE DATASET
data = pd.read_csv('vgsales.csv', encoding = 'UTF-8', sep = ',', header = 0)

data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,259,Asteroids,2600,1980,Shooter,Atari,4.00,0.26,0.0,0.05,4.31
1,545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.0,0.03,2.76
2,1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0.0,0.01,1.15
3,1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.0,0.01,1.05
4,2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.0,0.01,0.77

In [53]:
# 1) Qual foi o jogo mais vendido no mundo em 2010?
year_2010 = data.query('Year == 2010')
max_sale = year_2010['Global_Sales'].max()
res = year_2010.query(f'Global_Sales == {max_sale}')

display(res)
print('*'*130)
print(f"O jogo mais vendido no ano de 2010 foi: {res['Name']}")
print('*'*130)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
11183,16,Kinect Adventures!,X360,2010,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82

**********************************************************************************************************************************
>>O jogo mais vendido no ano de 2010 foi: 11183    Kinect Adventures!
Name: Name, dtype: object<<
**********************************************************************************************************************************

In [106]:
# 2) Qual foi o gênero mais vendido na américa do norte em 2005.

data_year_2005 = data.query('Year == 2005')
group_data = data_year_2005.groupby(['Genre']).sum()
group_data = group_data.sort_values(by='NA_Sales', ascending = False)
genre_max_sale = group_data['NA_Sales'].max()
genre_max_sale = group_data.query(f'NA_Sales == {max_sale}')


print(genre_max_sale.iloc[0].name)

Action

In [108]:
# 3) Qual foi a empresa que mais vendeu de 2005 até 2016.

range = data.query('2005 < Year < 2016')


display(range)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
6112,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
6113,7,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
6114,8,Wii Play,Wii,2006,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
6115,21,Pokemon Diamond/Pokemon Pearl,DS,2006,Role-Playing,Nintendo,6.42,4.52,6.04,1.37,18.36
6116,101,The Legend of Zelda: Twilight Princess,Wii,2006,Action,Nintendo,3.83,2.19,0.60,0.70,7.31
...,...,...,...,...,...,...,...,...,...,...,...
15975,16502,Irotoridori no Sekai: World's End Re-Birth,PSV,2015,Action,HuneX,0.00,0.00,0.01,0.00,0.01
15976,16531,Kiniro no Corda 3,3DS,2015,Adventure,Tecmo Koei,0.00,0.00,0.01,0.00,0.01
15977,16545,Mario & Luigi: Paper Jam & Mario Kart 7 Double...,3DS,2015,Misc,Nintendo,0.00,0.00,0.01,0.00,0.01
15978,16551,Hakuoki: Reimeiroku - Omouhase Kara,PSV,2015,Action,Idea Factory,0.00,0.00,0.01,0.00,0.01
15979,16568,Teslagrad,PSV,2015,Platform,Rain Games,0.00,0.01,0.00,0.00,0.01

In [ ]:
# 4) Qual o nome do jogo que menos foi vendido em 2008 do gênero Sports.

In [ ]:
# 5) Mostre um gráfico com o total de vendas por ano.