<a href="https://colab.research.google.com/github/AlexsonT/Growdev/blob/main/Ex_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Utilize o dataset contido nesse link, e responda as questões abaixo. O dataset contém dados estatísticos do IBGE relativos à escolaridade, renda entre outros campos avaliados pela PNAD (Pesquisa Nacional por Amostra de
# Domicílios). Os dados podem representar informações relevantes e reveladoras sobre a distribuição de renda e possivelmente alguns indicadores sobre tais situações encontradas a partir dos dados.

Imports

In [2]:
import pandas as pd

Open .csv

In [60]:
data = pd.read_csv('dados.csv', encoding = 'UTF-8', sep = ',')
data.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76840 entries, 0 to 76839
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UF              76840 non-null  int64
 1   Sexo            76840 non-null  int64
 2   Idade           76840 non-null  int64
 3   Cor             76840 non-null  int64
 4   Anos de Estudo  76840 non-null  int64
 5   Renda           76840 non-null  int64
 6   Altura          76840 non-null  float64
dtypes: float64(1), int64(6)
memory usage: 4.1 MB

In [62]:
# 1) Qual a quantidade de pessoas nas seguintes faixas etárias
# a) 20 anos ou menos
# b) 21 a 35 anos
# c) 36 a 50 anos
# d) 51 a 65 anos
# e) maiores de 65 anos

new_data = data.copy() #criando cópia da base de dados.

#Criando nova coluna e definindo um valor por faixa etária.
new_data.loc[new_data['Idade'] <= 20, 'Faixa_Etária'] = 1
new_data.loc[new_data['Idade'] >= 21,'Faixa_Etária'] = 2
new_data.loc[new_data['Idade'] >= 36,'Faixa_Etária'] = 3
new_data.loc[new_data['Idade'] >= 51, 'Faixa_Etária'] = 4
new_data.loc[new_data['Idade'] > 65, 'Faixa_Etária'] = 5

#Contando valores.
new_data['Faixa_Etária'].value_counts()

3.0    31770
2.0    20654
4.0    20006
5.0     3646
1.0      764
Name: Faixa_Etária, dtype: int64

In [63]:
# 2) Qual é a média de escolaridade em cada faixa etária?
escolaridade = new_data[['Faixa_Etária', 'Anos de Estudo']]
faixa_etaria = new_data.groupby('Faixa_Etária').mean()

resposta = faixa_etaria[['Anos de Estudo']]

display(resposta)

              Anos de Estudo
Faixa_Etária
1.0                 9.695026
2.0                10.813111
3.0                 9.764274
4.0                 8.267320
5.0                 5.842293

In [64]:
# 3) Qual a UF que concentra a maior renda?

agrupar = data.groupby('UF').sum('Renda')
max_renda = agrupar['Renda'].max()
resposta = agrupar.query(f'Renda == {max_renda}')

display(resposta)
print(resposta.iloc[0].name)

    Sexo   Idade    Cor  Anos de Estudo     Renda       Altura
UF
35  2652  378423  34794           90900  22539969  14519.00172

35

In [79]:
# 4) Qual a renda média de pessoas pretas e brancas de homens e mulheres?

info = new_data[['Sexo', 'Cor', 'Renda']].query('Cor == 2 | Cor == 4')
res = info.groupby(['Sexo', 'Cor']).mean()

display(res)

                Renda
Sexo Cor
0    2    2925.744435
     4    1603.861687
1    2    2109.866750
     4    1134.596400

In [87]:
# 5) Qual a renda média concentrada em cada faixa etária?

renda_por_faixa = new_data[['Renda', 'Faixa_Etária']]

media = renda_por_faixa.groupby('Faixa_Etária').mean()

display(media)
# new_data.head()

                    Renda
Faixa_Etária
1.0            985.348168
2.0           1748.286143
3.0           2113.756091
4.0           2150.196741
5.0           1831.231487